@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&diplay=swap");

body {
    background: linear-gradient(160deg, #00ff95 0%, #8800ff 100%);
    background-repeat: no-repeat;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Montserrat";
}
header {
    width: 100%;
    height: 45px;
    color: rgb(0, 0, 0);
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
    margin-top: 5px;
    display: inline-flex;
    position: relative;
}
.button {
    background: linear-gradient(160deg, #00ff95 0%, #8800ff 100%); /* Green */
    border: none;
    color: #ffffff;
    padding: 10px 25px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}
.button:hover {
    background: linear-gradient(160deg, #8800ff 0%, #00ff95 100%);
    color: rgb(255, 255, 255)
}
.LoginandRegistrations {
    margin-left: 1020px;
    margin-top: 4px;
}
a:link {
    color: rgb(93, 104, 255);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(0, 11, 170);
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: rgb(0, 11, 170);
    background-color: transparent;
    text-decoration: none;
}  
#logo {
    height: 50px;
    width: 90px;;
    opacity: 100%;
    margin-left: 10px;
}
.empty {
    margin: 25px 25px 25px 25px;
}
.divTable2 {
    border-radius: 15px;
    background: linear-gradient(160deg, #00ff95 0%, #8800ff 100%);
    width: 800px;
    padding: 0px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
}
.divTable2 table {
    border-collapse: collapse;
}
.divTable2 th, td {
    padding: 5px;
}
#Table2 {
    width: 800px;
}
.paragraphs {
    display: inline-flex;
}
.TheprojectGoal {
    border-radius: 15px;
    background: linear-gradient(160deg, #00ff95 0%, #8800ff 100%);
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
    font-size: 20px;
}
.MyGoals {
    border-radius: 15px;
    background: linear-gradient(160deg, #00ff95 0%, #8800ff 100%);
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
    font-size: 20px;
}
.LoremIpsum1 {
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background: linear-gradient(160deg, #00ff95 0%, #8800ff 100%);
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
}
.LoremIpsum2 {
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background: linear-gradient(160deg, #00ff95 0%, #8800ff 100%);
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
}
#logo1 {
    height: 80px;
    width: 160px;;
    opacity: 100%;
    margin-left: 5px;
}
.footer-distributed{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 55px 50px;
	margin-top: 80px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
    vertical-align: top;
    text-align: left;
}
/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}
/* The company logo */
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background: linear-gradient(160deg, #8800ff 0%, #00ff95 100%);
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(255, 255, 255);
	text-decoration: none;
}
/* Footer Right */
.footer-distributed .footer-right{
	width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background: linear-gradient(160deg, #8800ff 0%, #00ff95 100%);
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
.fa {
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.fa-facebook::before {
    content: "\f09a";
}
.fa-twitter::before {
    content: "\f09a";
}
.fa-github::before {
    content: "\f09a";
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
    header {
        display: inline-flexbox;
    }
    body {
        font-size: 15px;
    }
    .LoginandRegistrations {
        margin-left: 30px;
        margin-top: 5px;
    }
    .paragraphs {
        display: block;
    }
    .TheprojectGoal {
        font-size: 15px;
    }
    .MyGoals {
        font-size: 15px;
    }
    .divTable2 {
        border-bottom: solid 5px rgb(55, 252, 160);
        border-radius: 15px;
        background-color: rgb(30, 30, 30);
        width: 245px;
        margin: 25px 25px 25px 25px;
    }
    #Table2 {
        width: 220px;
    }
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
    }
    .footer-distributed .footer-center {
        display: block;
		width: 100%;
		margin-bottom: 40px;
        text-align: left;
    }
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
@media (max-width: 260px) {
    body {
        font-size: 10px;
    }
    header {
        height: 160px;
        display: block;
    }
    .LoginandRegistrations {
        margin-left: 30%;
        margin-top: 4px;
        display: block;
    }
    #logo {
        height: 70px;
        width: 140px;;
        opacity: 100%;
        margin-left: 25%;
    }
    .TheprojectGoal {
        font-size: 10px;
    }
    .MyGoals {
        font-size: 10px;
    }
    .divTable2 {
        border-bottom: solid 5px rgb(55, 252, 160);
        border-radius: 15px;
        background-color: rgb(30, 30, 30);
        width: 220px;
        margin: 25px 25px 25px 25px;
    }
    #Table2 {
        width: 70px;
    }
    .footer-distributed .footer-center {
        display: block;
		width: 100%;
		margin-bottom: 40px;
        text-align: left;
    }
}