@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&diplay=swap");

body {
    margin: 0;
    font-family: "Montserrat";
    background: #EEEEEE;
    font-size: 16px;
    height: 100vh;
}

.container {
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 1em 0;
}

p {
    line-height: 1.7rem;
}

.left {
    background: linear-gradient(160deg, #00ff95 0%, #8800ff 100%);
    padding: 1em;
}

.left h1, p {
    color: #ffffff;
}

.logo {
    width: 120px;
}

.right p {
    color: #000000;
}

.register {
    padding: 2em 0 1em;
}

.paragraphs {
    margin: 0;
    padding: 0;
}

.loginlink{
    padding: 2em 0 1em;
}

.light {
    color: rgba(255, 255, 255,.7) !important;
    margin-top: 2em;
}

input, .button {
    width: calc(100% - 3em);
    padding: .5em;
    font-size: 1rem;
    outline: none;
    margin: .5em;
}

.button {
    margin: 0;
    background: linear-gradient(160deg, #00ff95 0%, #8800ff 100%);
    color: #ffffff;
    border: none;
    margin-top: 1em;
}

.button:hover {
    background: linear-gradient(160deg, #8800ff 0%, #00ff95 100%);
    color: rgb(255, 255, 255)
}

a:link {
    color: #8800ff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(0, 11, 170);
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: rgb(0, 11, 170);
    background-color: transparent;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {

    body {
        font-size: 20px;
    }

    button {
        width: 60% !important;
    }

    input {
        width: 60% !important;
    }

    .right {
        text-align: center;
        align-self: center;
        padding: .5em 2em 0.5em;
        justify-self: center;
    }
    .right p {
        margin: 0;
    }
}

@media only screen and (min-width: 1024px) {
    
    .logo {
        margin: 1em 0;
    }

    p {
        line-height: 1.7em !important;
    }

    .inner {
        display: grid;
        grid-template-columns: 55% auto;
    }

    
    .left {
        text-align: left;
        padding: 0 2em;
        height: 100vh;
        display: grid;
    }

    .content {
        padding: 0 3em;
    }

    h1 {
        margin: 0;
        font-size: 2.4em;
    }

    .right {
        text-align: left;
        align-self: center;
        padding: 0 2em 1.5em;
        justify-self: center;
        margin-right: 170px;
        width: 40%;
    }
    .right p {
        margin: 0;
    }

    .register {
        padding: 2em 0 2em;
        margin-bottom: 25px;
    }
    
    .paragraphs {
        margin: 0;
        padding: 0;
    }

    input {
        width: 170% !important;
        margin: .5em 0;
    }

    .button {
        width: 170% !important;
    }

    .loginlink {
        font-size: 15px;
        margin-right: 25px;
        margin-top: 15px;
        text-align: right;
        width: 169%;
        padding: .50em 0 1em;
    }
}